.home__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home__logo {
  width: 25rem;
  margin: 20px 0; 
}

.home__greeting {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #fb4949;
}

.home__message {
  margin: 1rem 0;
  font-size: 1.7rem;
}

.home__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

#inputTrainer {
  width: 300px;
  min-height: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  outline: none;  
  background-color: rgba(239, 153, 153, 0.169);
  color: rgb(101, 96, 96);
}

.home__button {
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #fb4949;
  color: white;
  border: none;
  border-radius: 50px;
  margin-bottom: 10rem;
}

.home__footer {
  position: absolute;
  bottom: 0;
  /* width: 100vw; */
  text-align: center;
}

.home__background {
  width: 100vw;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .home__logo {
    width: 20rem;
    margin: 20px 0; 
  }

  .home__greeting {
    font-size: 2.2rem;

  }
  
  .home__message {
    font-size: 1.4rem;
  }
  
}