.pokedex__container {
  margin: 0 2em 2em 0;
  max-width: 100%;

}

.pokedex__header {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em 2em;
}

.pokedex__wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.pokedex__greeting {
  margin-left: 50px;
  margin-right: auto;
  font-size: 1.2em;
  justify-self: flex-start;
}

.pokedex__name {
  color: red;
}

.pokedex__search__container {
  margin: auto 50px 0 50px;
  width: 290px;
  display: flex;
  justify-content: center;
}

.pokedex__value {
  display: flex;
  margin-right: 50px;
}

.pokedex__search__container--type {
  /* margin: auto 50px 0 50px; */
  width: 150px;
  display: flex;
  justify-content: center;
}

.pokedex__list {
  background-color: rgba(255, 81, 81, 0.136);
}

.pokedex__input {
  box-shadow: 0px 1px 10px;
    width: 75%;
    min-height: 100%;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.pokedex__button {
  background-color: rgb(255, 27, 27);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  color: white;
  width: 25%;  
  font-size: 1.1em;
  min-height: 100%;
  border-radius: 0 10px 10px 0;
}



.pokedex__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3em 2em;
  margin-top: 6em;
}

@media only screen and (max-width: 600px) {
  .pokedex__container {
    min-width: 100%;
    margin: 0;
  }

  .pokedex__cards {
    margin-left: 2em;
    margin-right: 2em;
  }
}