.pokecard {
  width: 100%;
  max-width: 350px;
  border-radius: 0.7em;
  border: 0.7em solid #ccc;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.pokecard:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 7px #444444;
}

.pokecard__header {
  background-color: #999;
  aspect-ratio: 2;
  position: relative;
}

.pokecard__image {
 position: absolute;
 width: 60%;
 left: 50%;
 transform: translateX(-50%);
 top: 1.5em;
}

.pokecard__body {
  padding: 3.5em 1em 2em;
}

.pokecard__name {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.pokecard__types {
  display: flex;
  justify-content: center;
  gap: 0.4em;
  margin-bottom: 1em;
}

.pokecard__typename {
  text-transform: capitalize;
}

.pokecard__typename:nth-child(2)::before {
  content: '/';
  padding-right: 0.4em;
}

.pokecard__hr {
  margin-bottom: 1em;
  border: 1px solid #ccc4;
}

.pokecard__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1.5em 0.2em;
}

.pokecard__stat {
  display: grid;
  gap: 0.5em;
  justify-items: center;
}

.pokecard__stat__name {
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.pokecard__stat__value {
  font-weight: 600;
  font-size: 1rem;
}

.fire-gradient {
  background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.fire-border {
  border-color: #E35825;
}

.fire-color {
  color: #E35825;
}

.grass-gradient {
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.grass-border {
  border-color: #ABDAC6;
}

.grass-color {
  color: #6abb98;
}

.water-gradient {
  background: linear-gradient(179.57deg, #133258 -30.14%, #1479FB 56.16%, #82B2F1 114.85%); 
}

.water-border {
  border-color: #1479FB;
}

.water-color {
  color: #1479FB;
}

.bug-gradient {
  background: linear-gradient(177.56deg, #9bf39a -58.92%, #50da4d 16.57%, #b6ffb5 109.53%); 
}

.bug-border {
  border-color: #50da4d;
}

.bug-color {
  color: #46b844;
}

.fighting-gradient {
  background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.fighting-border {
  border-color: #F1613C;
}

.fighting-color {
  color: #F1613C;
}

.poison-gradient {
  background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.poison-border {
  border-color: #A564E3;
}

.poison-color {
  color: #8e53c4;
}

.normal-gradient {
  background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.normal-border {
  border-color: #BC6B7C;
}

.normal-color {
  color: #a75c6c;
}

.ground-gradient {
  background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.ground-border {
  border-color: #895C1A;
}

.ground-color {
  color: #895C1A;
}

.ghost-gradient {
  background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.ghost-border {
  border-color: #454AA8;
}

.ghost-color {
  color: #454AA8;
}

.ice-gradient {
  background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.ice-border {
  border-color: #64CBF5;
}

.ice-color {
  color: #4fb2d9;
}

.steel-gradient {
  background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.steel-border {
  border-color: #728881;
}

.steel-color {
  color: #728881;
}

.rock-gradient {
  background: linear-gradient(177.03deg, #7E7E7E -11.97%, #b9b9c0 57.49%, #D3D3D3 135.64%);
}

.rock-border {
  border-color: #b9b9c0;
}

.rock-color {
  color: #75757a;
}

.dark-gradient {
  background: linear-gradient(177.03deg, #2a6e5d -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.dark-border {
  border-color: #28413b;
}

.dark-color {
  color: #28413b;
}

.psychic-gradient {
  background: linear-gradient(179.75deg, #b6720c -19.96%, #da9e43 43.67%, #e2ad5e 108.4%);
}

.psychic-border {
  border-color: #da9e43;
}

.psychic-color {
  color: #cd943f;
}

.electric-gradient {
  background: linear-gradient(179.75deg, #ffe624 -19.96%, #fff265 43.67%, #f6f3ad 98.4%);
}

.electric-border {
  border-color: #fff265;
}

.electric-color {
  color: #bcad09;
}

.fairy-gradient {
  background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 108.4%);
}

.fairy-border {
  border-color: #C23867;
}

.fairy-color {
  color: #C23867;
}

.dragon-gradient {
  background: linear-gradient(179.75deg, #e7b22d -19.96%, #f2c656 43.67%, #f0d591 98.4%)
}

.dragon-border {
  border-color: #f2c656;
}

.dragon-color {
  color: #e1a449;
}



