.pokedex__container {
  margin: 2em;
  max-width: 70%;

}

.pokedex__header {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em 2em;
}

.pokedex__greeting {
  margin-left: 50px;
  margin-right: auto;
  font-size: 1.2em;
  justify-self: flex-start;
}

.pokedex__name {
  color: red;
}

.pokedex__search__container {
  margin: auto 50px 0 50px;
    width: 290px;
    
    display: flex;
    justify-content: center;
}

.pokedex__input {
  box-shadow: 0px 1px 10px;
    width: 75%;
    min-height: 100%;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.pokedex__button {
  background-color: rgb(255, 27, 27);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  width: 25%;  
  font-size: 1.1em;
  min-height: 100%;
  border-radius: 0 10px 10px 0;
}

.pokedex__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3em 2em;
  margin-top: 4em;
}